.instructions-btn {
  cursor:pointer;

  .fa-book-open {
    transition: .2s linear;
  }

  &:hover .fa-book-open {
    color: #d3d3d3;
  }
}

.intro-video {
  text-align:center;
  margin-top:10%;


  & iframe {
    width: 50%;
    height:250px;
    border-radius: 10px;
  }
}

.instructions-tab {
  translate: 0 -100%;
  transition:.2s linear;
  position: fixed;
  z-index: 999;
  top:0;
  bottom:0;
  right:50%;
  left:50%;
  background-color: rgba(5, 5, 5, 0.8);
  display:flex;
  padding:2em;

  & .exit {
    align-self: start;
    cursor:pointer;
    color:#fff;
    & .fa-xmark {
      font-size:1.8rem;
      transition:.2s linear;
    }
  }

  & .instruction-tips {
    flex-grow: .999;
    align-self: center;
    text-align: center;
    display:flex;
    flex-direction: column;
    align-items: center;
    font-size:1.5rem;
    font-weight:600;
    color:#fff;
  }

}

.next-lesson-link-intro {
  position:absolute;
  right:0;
  left:0;
  text-align:center;
  bottom:20px;
  text-decoration-line:none;
}

.next-lesson-btn, 
.previous-lesson-btn {
  padding:.5em 1.4em;
  font-size:1rem;
  font-weight:600;
  border-radius:30px;
  cursor:pointer;
  border:none;
  background:steelblue;
  color:#fff;
  transition: .2s linear;
  box-shadow: 0px 10px 5px -5px #7c7c7c;

  &:hover {
    transform: translateY(-5px);
    box-shadow: 2px 25px 5px -15px #7c7c7c;
  }
}

.show-instructions {
  translate: 0;
  right:0;
  left:0;
}
@media (max-width:32rem) {
  .intro-video {
    & iframe {
      width:90%;
      border-radius: 10px;
    }
  }
}