.instructions {
  font-size:1.3rem;
  padding:1em 0;
  line-height:20px;

  & li:not(li:last-child) {
    padding-bottom:10px;
  }
}

.homework {
  & li a {
    color:darkred;
    font-size:1.2rem;
  }
}

.progress-bar {
  width:80%;
  height:25px;
  background-color:rgb(220, 220, 220);
  margin: 20px auto;
  border-radius: 30px;

  & .progress-bar-inner {
    width:10%;
    height:100%;
    border-radius: 30px;
    background-color:rgb(4, 177, 4);
    transition: all .2s linear;
    position:relative;

    & .progress-percentage {
      position:absolute;
      font-size:1.1rem;
      font-weight:600;
      color:#fff;
      right:5px;
      bottom:1px;
    }
  }

}

.container {
  display:flex;
  justify-content: center;
  align-items: center;
  gap:2em;
  padding:3em;
}

.left-btn, 
.right-btn {
  font-size:1.8rem;
  cursor:pointer;
  background:none;
  border:none;
}

.flip-card {
  background-color:transparent;
  width:320px; //320px
  height: 520px; //520px
  perspective: 1000px;
  overflow:hidden;
  display:grid;
  grid-template-columns: repeat(2, 97%);
  grid-template-rows: repeat(1, 94%);
  justify-content: start;
  align-items:center;
  gap:1em;
}

.flip-card-inner {
  position:relative;
  // width:94%; //94%
  height:94%; //94%
  transition: transform 0.3s linear;
  transform-style: preserve-3d;
  box-shadow: 0px 4px 10px 0 rgba(0,0,0,0.3);
  border-radius: 10px;
  margin-left:10px;
}

.flip-card-front, .flip-card-back {
  position:absolute;
  width:100%;
  height:100%;
  backface-visibility: hidden;
}

.flip-card-back {
  transform: rotateY(180deg);
}

.flip-card-front {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap:1.12em;
}

.img-container {
  width:100%;

  & img {
    width:100%;
    height:240px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
}

.flip-btn {
  font-size:1.2rem;
  border:none;
  padding:.4em 0;
  cursor:pointer;
  font-weight:600;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.card-text {
  font-size:1.2rem;
  text-align:center;
}

.flip-card-back {
  display: grid;
  grid-template-rows: repeat(3, 33.33%);

  & .answer {
    text-align: center;
    align-self: end;
    font-size:1.4rem;
    font-weight:600;
  }

  & .flip-back-btn {
    align-self: end;
  }

  & audio {
    align-self: center;
  }
}

.youglish-link-container {
  position:absolute;
  right:0;
  left:0;
  text-align:center;
}

.nav-btns-container {
  display:grid;
  grid-template-columns: repeat(2, 50%);
  padding:1em;
  & .next-lesson-link {
    position:relative;
    justify-self:end;
  }
}


.flipped-card {
  transform: rotateY(180deg);
}

.animate-in {
  transform: translateX(-106%);
}

.animate-out {
  transform: translateX(106%);
}

@media (max-width: 32rem) {
  .container {
    grid-template-columns: 100%;
    padding: .5em;
    gap:1em;
  }

  .progress-bar {
    height:20px;
    width:90%;
    margin:10px auto;
  
    & .progress-bar-inner .progress-percentage {
      font-size:.9rem;
    }
  }

  audio {
    width:100%;
    height: 200px;
  }

  .flip-card {
    width:100%;
  }
}