@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
*, *::after, *::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto";
}

.intro-header {
  display: flex;
  justify-content: space-around;
  padding: 1.2em 0;
  font-size: 1.3rem;
  font-weight: 700;
  border: 3px solid rgb(211, 211, 211);
  border-radius: 10px;
  margin: 1rem;
}
.intro-header .instructions {
  width: 30px;
  height: 30px;
  cursor: pointer;
  text-align: center;
}

.instructions-btn {
  cursor: pointer;
}
.instructions-btn .fa-book-open {
  transition: 0.2s linear;
}
.instructions-btn:hover .fa-book-open {
  color: #d3d3d3;
}

.intro-video {
  text-align: center;
  margin-top: 10%;
}
.intro-video iframe {
  width: 50%;
  height: 250px;
  border-radius: 10px;
}

.instructions-tab {
  translate: 0 -100%;
  transition: 0.2s linear;
  position: fixed;
  z-index: 999;
  top: 0;
  bottom: 0;
  right: 50%;
  left: 50%;
  background-color: rgba(1, 36, 54, 0.8);
  display: flex;
  padding: 2em;
}
.instructions-tab .exit {
  align-self: start;
  cursor: pointer;
}
.instructions-tab .exit .fa-xmark {
  font-size: 1.8rem;
  transition: 0.2s linear;
}
.instructions-tab .exit:hover .fa-xmark {
  color: #fff;
}
.instructions-tab .instruction-tips {
  flex-grow: 0.999;
  align-self: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 600;
  color: #fff;
}

.next-lesson-link {
  display: flex;
  justify-content: center;
}

.next-lesson-btn {
  position: fixed;
  bottom: 20px;
  padding: 0.5em 1.4em;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 30px;
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  border: none;
  background: steelblue;
  color: #fff;
  transition: 0.2s linear;
  box-shadow: 0px 10px 5px -5px #7c7c7c;
}
.next-lesson-btn:hover {
  transform: translateY(-5px);
  box-shadow: 2px 25px 5px -15px #7c7c7c;
}

.show-instructions {
  translate: 0;
  right: 0;
  left: 0;
}

@media (max-width: 32rem) {
  .intro-video iframe {
    width: 90%;
    border-radius: 10px;
  }
}
.instructions {
  font-size: 1.3rem;
  padding: 1em 0;
  line-height: 20px;
}
.instructions li:not(li:last-child) {
  padding-bottom: 10px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
  padding: 3em;
}

.left-btn,
.right-btn {
  font-size: 1.8rem;
  cursor: pointer;
  background: none;
  border: none;
}

.flip-card {
  background-color: transparent;
  width: 320px;
  height: 520px;
  perspective: 1000px;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(2, 97%);
  grid-template-rows: repeat(1, 94%);
  justify-content: start;
  align-items: center;
  gap: 1em;
}

.flip-card-inner {
  position: relative;
  height: 94%;
  transition: transform 0.3s linear;
  transform-style: preserve-3d;
  box-shadow: 0px 4px 10px 0 rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  margin-left: 10px;
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-card-back {
  transform: rotateY(180deg);
}

.flip-card-front {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1.12em;
}

.img-container {
  width: 100%;
}
.img-container img {
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.flip-btn {
  font-size: 1.2rem;
  border: none;
  padding: 0.4em 0;
  cursor: pointer;
  font-weight: 600;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.card-text {
  font-size: 1.2rem;
  text-align: center;
}

.flip-card-back {
  display: grid;
  grid-template-rows: repeat(2, 50%);
}
.flip-card-back .answer {
  text-align: center;
  align-self: end;
  font-size: 1.4rem;
  font-weight: 600;
}
.flip-card-back .flip-back-btn {
  align-self: end;
}

.flipped-card {
  transform: rotateY(180deg);
}

.animate-in {
  transform: translateX(-106%);
}

.animate-out {
  transform: translateX(106%);
}

@media (max-width: 32rem) {
  .container {
    grid-template-columns: 100%;
    padding: 3em 1em;
    gap: 1em;
  }
  audio {
    width: 100%;
    height: 200px;
  }
  .flip-card {
    width: 100%;
  }
}/*# sourceMappingURL=main-lessons.css.map */